 /* @import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*для всей страницы*/
body {
    /*font-family: 'Shantell Sans', cursive; /*на все тело страницы*/
    font-size: 16px; /* Размер шрифта */
    color: #333333;
    background: linear-gradient(to bottom right, #e9e8e7, #ebedd9, #c14b11); /*background-color: там только 1 цвет*/
    background-attachment: fixed;
    margin: 0 auto; /* Отступы снаружи + центрирование */
    min-height: 100vh;
    padding: 0; /* Внутренние отступы */
}

* {
    font-family: 'Open Sans', cursive !important; /*ко всем элементам страницы шрифт*/
}

/*для заголовка*/
.custom-header {
    font-size: 25px; /* Размер шрифта */
    text-align: center; /* Выравнивание по центру */
    padding: 20px; /* Внутренние отступы */
    margin: 20px auto; /* Отступы снаружи + центрирование */
    background: linear-gradient(to bottom right, #dfd5de, #ede7ce, #dfcbc2);
    border: 1px solid #482314; /* рамка */
    border-radius: 20px; /* Скругление углов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
    /*box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* Тень для выделения */
    /*font-weight: bold; /* Жирный текст */
}

/*кнопка расчета*/
.button {
    color:#333333; 
    background: linear-gradient(to bottom right, #dfd5de, #ede7ce, #dfcbc2);
    border-radius: 20px;
    border: 1px solid #482314;
    border-radius: 20px;

}

/*подзаголовки*/
/*.headings {
    color:#333333; 
    background: linear-gradient(to bottom right, #dfd5de, #ede7ce, #dfcbc2);
    border-radius: 20px;
    border: 1px solid #482314;
    padding: 10px; 
    margin: 5px auto; 
    max-Width: 30%;
    text-align: center;
    font-size: 16px
}*/

.headings {
    color:#333333; 
    padding: 10px; /* Внутренние отступы */
    margin: 5px auto; /* Отступы снаружи + центрирование */
    border-radius: 20px;
    border: 1px solid #482314;
    text-align: left;
}

/*селекторы*/
/* ============ ОБЩИЙ СТИЛЬ ДЛЯ ВСЕХ DROPDOWN ============ */

/* Основной блок выпадающего меню */
.Select__control,
[class*="control"] {
    border: 2px solid #d5d2c5 !important;
    background: linear-gradient( #dfd5de, #ede7ce, #dfcbc2) !important;
    border-radius: 10px !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
    min-height: 38px !important;
    font-size: 16px;
    transition: none !important;

}

/* Выбранные значения */
.Select-value-label {
    color: #333333 !important;
    font-size: 16 px !important;
    padding: 2px 5px !important;
}

/* Иконка выбранного значения крестик и |*/
.Select-value-icon {
    color: #800000 !important;
    border-right: 1px solid #dfd5de !important;
}

/* Меню опций */
.Select__menu,
[class*="menu"] {
    background: linear-gradient( #dfd5de, #ede7ce, #dfcbc2) !important;
    border: 1px solid #dfd5de !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}


/*tabs*/

/* Цвет активной вкладки (фон и текст) */
.nav-link.active {
    background-color: transparent !important; /* !important; /* Цвет фона активной вкладки */
    color: #333333 !important;            /* Цвет текста активной вкладки */
    border-color: #d5c8c5 !important;     /* Граница */
    /*border-radius: 6px 6px 0 0;           /* Скругление сверху */
    border-radius: 10px !important;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1) !important;
    font-size: 16px;
    background: linear-gradient(  #e9e8e7, #ebedd9) !important;
    padding: 6px !important; /* Внутренние отступы */
    margin: 3px auto !important; /* Отступы снаружи + центрирование */
}

/* Цвет неактивных вкладок */
.nav-link {
    background-color: transparent;
    color: #333333!important;  /* Цвет текста неактивных вкладок */
}

/* Общая панель вкладок — фон */
.nav-tabs {
    background-color: transparent !important;/* Сделать прозрачной или под цвет страницы */
    border-bottom: none;
}

/**/
